<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Recicladores</h1>
            <a href="#" id="close-search">Fechar</a>
        </div>
        <form action="/recicladores" method="GET">
            <label for="zone">Zona da Praia</label>
            <div class="search field">
                <input type="text" name="zone" id="zone" placeholder="Ex.: Palmarejo, Platô…">
                <button>
                    <img src="/assets/icones/search.svg" alt="Pesquisar">
                </button>
            </div>
        </form>
    </div>
</div>
