<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Recicladores</h1>
            <a href="#" id="close-search">Fechar</a>
        </div>
        <form action="/recicladores" method="GET">
            <label for="modal-zone">Zona da Praia</label>
            <div class="search field">
                <select name="zone" id="modal-zone">
                    <option value="">Todas as zonas</option>
                    {% for z in zones %}<option value="{{ z }}">{{ z }}</option>{% endfor %}
                </select>
                <button type="submit">
                    <img src="/assets/icones/search.svg" alt="Pesquisar">
                </button>
            </div>
        </form>
    </div>
</div>
